<div class="col-md-6 postindex">

  <div class="media">
    <div class="media-left media-middle">
      <%=link_to image_tag(post.pic, class: "media-object img-square"), post %>
    </div>

    <div class="media-body">
      <h2 class="media-heading"><%=link_to post.title, post %></h2>
      <p><%= post.summary %></p>
      <% if post.is_owner?(current_user) %>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-default btn-sm" %>
      <% end %>
    </div>
  </div>

</div>
